#map {
	width: 100%;
	height: 100%;
}

#add_btn {
	position:absolute;
	top: 16px;
	right: 16px;
	z-index: 1;
	width: 3em;
	max-height: 8vmax;
	max-width: 8vmax;
}

/*  ----------- CARD ------------  */
.ginkgo_card {
	display: flex;
}

.ginkgo_card_img {
	width:100% !important;
}

.ginkgo_card > p {
	font-size:0.9em;
	margin:0.5em 1em 0 0;
}

.ginkgo_card_address {
	flex-basis:50%;
}

.ginkgo_card_name {
	margin-bottom: 5px;
	margin-top: 5px;
}

.ginkgo_card_edit {
	position: absolute;
	cursor: pointer;
	top: 4px;
	right: 24px;
	width: 18px !important;
	margin: 0;
}

.ginkgo_card_remove {
	position: absolute;
	cursor: pointer;
	top: 4px;
	right: 46px;
	width: 18px !important;
	margin: 0;
}

/*  ----------- FORM ------------  */

.form_container {
	position: absolute;
	left: 1vw;
	top: 2vh;
	padding: 16px 16px 0 16px;
	border-radius: 8px;
	box-sizing: border-box;
	box-shadow: 0 4px 16px 0 rgba(0,0,0,.2);

	width: 312px;
	max-height: 96vh;
	max-width: 98vw;
	overflow: auto;

	z-index: 2;
	visibility: hidden;

	background-color: #fff;
	color: #0e0e0e;
}

.point_form > * {
	margin-bottom:8px;
	width: 100%;
	box-sizing:border-box;
}

.point_form > p {
	margin: 0;
	font-size: 0.9em;
}

.name_input {
	font-weight: bold;
}

.incorrect_image_type {
	display: none;
	color: red;
	margin-bottom: 5px !important;
}

.image_preview {
	display: none;
	max-width: 280px;
	max-height: 280px;
	margin-left: auto;
	margin-right: auto;
}

.short_input {
	float: right;
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
}

.address_field {
	margin: 0;
	font-size: 0.7em;
}


.confirmation_buttons {
	margin-bottom: 16px;
	display: flex;
	justify-content: space-between;
}

#edit_point_author {
	margin-bottom: 5px;
}


/*  --------- SPINNER ------------  */

#spinner-overlay {
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	text-align: center;
	pointer-events: none;

	display: flex;
	justify-content: space-around;
	flex-direction: column
}

#spinner {
	margin:auto;
	width:10vmax;

	-webkit-animation-name: spin;
    -webkit-animation-duration: 2500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2500ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2500ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}